
body{
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

h2{
  color:#01B4DC;
}

#intro{
      max-width: 1164px;
      width: 100%;
      margin:0 auto;
      background-color: #01B4DC;
      display: flex;
}


#introcon{
  width: 500px;
  background-color: white;
  flex: 1 0 auto;
  width: 500px;
  padding: 4.5em 3.5em 0;
  margin-top: -1em;
  margin-left: -2em;
}

main:after {
    content: '';
    display: block;
    background-color: #01B4DC;
    height: 1em;
}

#sidebar{
  min-width: 328px;
  padding: 3.25em 3em 0;
}


  display: flex;
.partijlogo{
  width: 80%;
  height: 80%;
    margin: 10% 0 0 10%;
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
}


.partijencon{
display: flex;
}


.partijcon{
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 14px 18px 0;
  background: white;
  border-radius: 50px;
  transition: transform .2s ease;
}


.partijcon :hover{
  transform: scale(2);
  box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
}



#intrologo{
  width: 173px;
  height: 36px;
  float: right;
}


.intro{
  max-width: 330px;
  display: block;
}

#introbutton{
  float: right;
}
.init{
  display: initial;
}


#statements{
      display: none;
      margin: 6em 6em 0 6em;
      background-color: white;
}
