#section{
	margin: auto;
	width: 1100px;
	padding: 50px 100px;
	background-color: white;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#titel{
		color: #01B4DC;
    font-family: 'Arial';
    font-weight: bold;
}


#statement{
	min-height: 155px;
	font-size: 30px;
	font-family: 'Arial';
}


#pro,#ambivalent,#contra{
	width: 30%;
}


.btn-radial{
	width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("images/icon-arrow-back.svg");
  background-color: #E7EAEB;
  border-radius: 50px;
	border: 0px;
}

.btn {
	border-radius: 5px;
	border: 0px;
	padding: 20px 10px;
	background-color: black;
	color: white;
	border-style: solid;
	font-family: 'Arial';
	font-weight: bold;
	min-width: 188px;
	font-size: 16pt;
}


.btn-choose{
	display: inline-block;
	background-color: grey;
	color: white;
	border-radius: 2px;
	margin-top:10px;
	margin-right: 10px;
	border:0;
}


.btn:hover {
	background-color: #01B4DC;
}

.chosen{
	background-color: #01B4DC;
}

#sec-button{
	margin-right: 5px;
}

#start{
	height: 80px;
	width: 200px;
	border-radius: 13px;
}

h1{
	font-size: 40px;
}

#text{
	margin: 10px auto;
	font-size: 20px;
}
#partiesopinion{
	display: flex;
	justify-content: space-around;
	width: 100%;
	width: 100%;
	padding-top:  6px;

}

.partyaff{
	display: inline;
	margin: 0px  100%;

}
.trs{
	display: flex;
	flex-direction: row;
	margin: 2px auto;
}

.trs input{
	 align-self: center;
	 margin-right: 2px;
}
body{
		font-family: 'Arial';
  background-image: url("images/background.jpg");
	background-color: #E7EAEB;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
